body {
    background: #efefef;
}


a {
}

/* nav fixes */
header nav li a {
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(0, 0, 0);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    tab-size: 4;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
}
header nav li a:hover,
header nav li.active a {
    background-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(0, 0, 0);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    tab-size: 4;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
}

/* basic ui */
.content > * {
    width: 100%;
}
.content main {
    max-width: calc(100% - 80px);
}
.content aside {
    max-width: 80px;
}
.content aside .collection-label,
.content aside .context-count,
.content aside .aside-opened-icon,
.content aside .view-all-collections {
    display: none;
}

.content.aside-open main,
.content.aside-open aside {
    max-width: 50%;
}
.content.aside-open .aside-closed-icon {
    display: none;
}
.content.aside-open .collection-label,
.content.aside-open .context-count,
.content.aside-open .aside-opened-icon,
.content.aside-open .view-all-collections {
    display: inline-block;
}

.selection .ss-single-selected {
    border-radius: 9999px;
    padding: 0 1rem;
    height: 45px;
    border: 0;
}
.selection .ss-main .ss-single-selected.ss-open-below {
    border-radius: 9999px !important;
}
.selection .ss-content.ss-open {
    margin-top: 0.5rem;
}
.selection-item:checked + label {
    border: 5px solid blue;
}
.value-content h2,
.value-content strong {
    font-weight: bold;
}
.value-content ol {
    list-style: auto;
}
.value-content ul {
    list-style: disc inside;
}
.value-content a {
    text-decoration: underline;
}

/* additional color classes */
.bg-pia-black {
    background-color: #181818;
}

.map.nearby {
    height: 580px;
}

.ql-container {
    height: calc(100% - 44px) !important;
    background: #fff !important;
}

/* media queries */
@media (max-width: 768px) {
    html {
        padding-top: 0 !important;
    }
    #user-bar {
        display: none;
    }
    .content main {
        max-width: 100%;
        width: 100%;
    }
    .content aside {
        position: fixed;
        right: -80px;
        z-index: 100;
    }
    .content.aside-open main {
        max-width: 0px;
    }
    .content.aside-open aside {
        max-width: 100%;
        right: 0;
    }
    .content.aside-open main > * {
        opacity: 1;
        transition: all .25s;
    }
    .content.aside-open main > * {
        opacity: 0;
    }
    .content aside > div > .aside-open-button {
        position: fixed;
        right: 20px;
        bottom: 20px;
    }
    .content aside > div > .aside-open-button:before {
        content: "";
        position: absolute;
        top: -5px;
        left: 6px;
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
        z-index: -1;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    }

    .map.nearby {
        height: 360px;
    }
}