<?php

$translate = $this->plugin('translate');
$escape = $this->plugin('escapeHtml');
$siteTitle = $site->title();

$this->htmlElement('html')->setAttribute('lang', $this->lang());

$this->headMeta()->setCharset('utf-8');
$this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1');

$this->headTitle($siteTitle)->setSeparator(' · ');
$this->headTitle()->append($this->setting('installation_title', 'Omeka S'));

$this->headLink()->prependStylesheet($this->assetUrl('css/dist/output.css'));
$this->headLink()->prependStylesheet($this->assetUrl('css/iconfonts.css', 'Omeka'));
$this->headLink()->prependStylesheet('https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css');
$this->headLink()->prependStylesheet('https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.snow.min.css');
$this->headScript()->prependFile($this->assetUrl('js/default.js'));
$this->headScript()->prependFile($this->assetUrl('js/global.js', 'Omeka'));
$this->headScript()->prependFile($this->assetUrl('vendor/jquery/jquery.min.js', 'Omeka'));
$this->headScript()->prependFile('https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.js');
$this->headScript()->prependFile('https://cdn.jsdelivr.net/npm/quill-image-drop-module@1.0.3/image-drop.min.js');
$this->headScript()->prependFile('https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js');
$this->headScript()->prependFile('https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js');

$this->jsTranslate();

$this->trigger('view.layout');

$query = $this->params()->fromQuery();

?>
<?php echo $this->doctype(); ?>
<?php echo $this->htmlElement('html'); ?>

<head>

    <?php echo $this->headMeta(); ?>
    <?php echo $this->headTitle(); ?>
    <?php echo $this->headLink(); ?>
    <?php echo $this->headStyle(); ?>
    <?php echo $this->headScript(); ?>

    <style type="text/tailwindcss">
        a.resource-link {
            @apply underline
        }
    </style>

    <style>
        #item-grid .item {
            width: 25%;
            padding: 4px;
        }

        @media (max-width: 758px) {
            #item-grid .item {
                width: 33%;
            }
        }

        @media (max-width: 480px) {
            #item-grid .item {
                width: 50%;
            }
        }
        @media (max-width: 360px) {
            #item-grid .item {
                width: 100%;
            }
        }
    </style>

</head>

<?php echo $this->htmlElement('body'); ?>

<main class="content p-4 transition-all" role="main">
    <header class="md:flex justify-between items-center py-2 mb-2">
        <!--<h1 class="site-title">
                        <a href="<?php echo $site->url(); ?>" class="text-3xl">
                            <?php echo $escape($siteTitle); ?>
                        </a>
                    </h1>-->

        <div id="search" class="mb-4 md:mb-0">
            <div class="mb-2">
                <?php echo $this->partial('common/search-form'); ?>
            </div>
            <div class="flex flex-wrap gap-2">
                <?php echo $this->hyperlink($translate('Advanced'), $this->url('site/resource', ['controller' => 'item', 'action' => 'search'], ['query' => $query], true), ['class' => 'advanced-search no-underline p-1 px-4 border border-black hover:bg-black hover:text-white hover:border-black text-lg rounded-full text-black']); ?>
                <a href="/s/explore/explore/nearby" class="no-underline p-1 px-4 border border-black hover:bg-black hover:text-white hover:border-black text-lg rounded-full text-black">Nearby</a>
                <a target="_blank" href="https://similarity.participatory-archives.ch/" class="no-underline p-1 px-4 border border-black hover:bg-black hover:text-white hover:border-black text-lg rounded-full text-black">Similar</a>
            </div>
        </div>

        <nav class="flex">
            <?php
            echo $site->publicNav()->menu()->renderMenu(null, [
                'maxDepth' => $this->themeSetting('nav_depth') - 1,
                'ulClass' => 'flex gap-2 gap-y-6 flex-wrap',
                'liClass' => 'p-1 px-4 border border-black bg-white hover:bg-black hover:text-white hover:border-black text-lg rounded-full text-black'
            ]);
            ?>
        </nav>
    </header>
    <div>
        <?php echo $this->content; ?>
    </div>

    <footer class="p-2">
        <ul class="flex gap-2 mt-8 flex-row-reverse">
            <li><a class="no-underline" href="/admin">🔓</a></li>
            <?php if ($this->userIsAllowed(Null, 'supervisor')) : ?>
                <li><a class="no-underline" href="/s/explore/maintenance/import-collection">📥</a></li>
            <?php endif; ?>
        </ul>
    </footer>
</main>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        if(document.querySelector('#item-grid')) {
            let grid = new Isotope(document.querySelector('#item-grid'), {
                itemSelector: '.item',
                transitionDuration: '0'
            })
    
            document.querySelectorAll('#item-grid .item img').forEach(el => {
                el.addEventListener('error', event => {
                    event.currentTarget.parentElement.parentElement.remove()
                    grid.arrange()
                })
                el.addEventListener('load', event => {
                    grid.arrange()
                })
            });
        }

        let content = document.querySelector('.content'),
            buttons = document.querySelectorAll('.aside-open-button');

        for (const button in buttons) {
            if (Object.hasOwnProperty.call(buttons, button)) {
                const element = buttons[button];

                element.addEventListener('click', () => {
                    content.classList.toggle('aside-open');
                });
            }
        }

        document.querySelectorAll('select.slim').forEach(el => {
            new SlimSelect({
                select: el,
            });
        });

        document.querySelectorAll('.quill').forEach(el => {
            let editor = new Quill(el, {
                    theme: 'snow',
                    modules: {
                        toolbar: [
                            [{
                                'header': [2, 3, false]
                            }],
                            ['bold', 'italic', 'underline', 'strike'],
                            ['link'],
                            [{
                                list: 'ordered'
                            }, {
                                list: 'bullet'
                            }]
                        ]
                    }
                }),
                textarea = document.querySelector('textarea[name="' + el.dataset.target + '"]');

            if (textarea.value != '') {
                editor.setContents(textarea.value)
            }

            editor.on('text-change', function(delta, oldDelta, source) {
                textarea.value = editor.root.innerHTML
            });
        });

    });
</script>

</body>

</html>